@tailwind base;
@tailwind components;
@tailwind utilities;

@import "rsuite/dist/rsuite.css";

/* add the code bellow */ 
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  scroll-behavior: smooth !important;
  /* background: #3B3B3B !important; */
}

.inter {
  font-family: var(--font-inter);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  margin-right: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #939393;
}  

.animate-track {
  background: rgb(204, 204, 204);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}

.goog-te-gadget-simple {
  display: flex !important;
  background-color: transparent !important;
  font-size: 16px !important;
  border-left: 0px solid #D5D5D5 !important;
  border-top: 0px solid #9B9B9B !important;
  border-bottom: 0px solid #E8E8E8 !important;
  border-right: 0px solid #D5D5D5 !important;
} 

/* Select the elements or text you want to prevent from translation */
#notranslate {
  /* Prevent translation for selected elements */
  translate: no;
}

.drawer {
  background-color: #3b3b3b !important;
}

.drawer__backdrop {
  background-color: #3b3b3b !important;
}

.drawer__handle-wrapper {
  background-color: #3b3b3b !important;
}

.drawer__handle {
  background-color: #3b3b3b !important;
}

.rbd-nc9bzmek9lj-dr {
  background-color: #3b3b3b !important;
}

.css-s0w88d {
  z-index: 10000000000 !important;
}

@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/green.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';

/* reset */
button,
fieldset,
input {
  all: unset;
}

.DialogOverlay {
  background-color: var(--black-a9);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}
.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  color: var(--mauve-12);
  font-size: 17px;
}

.DialogDescription {
  margin: 10px 0 20px;
  color: var(--mauve-11);
  font-size: 15px;
  line-height: 1.5;
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 15px;
  line-height: 1;
  font-weight: 500;
  height: 35px;
}
.Button.violet {
  background-color: white;
  color: var(--violet-11);
  box-shadow: 0 2px 10px var(--black-a7);
}
.Button.violet:hover {
  background-color: var(--mauve-3);
}
.Button.violet:focus {
  box-shadow: 0 0 0 2px black;
}
.Button.green {
  background-color: var(--green-4);
  color: var(--green-11);
}
.Button.green:hover {
  background-color: var(--green-5);
}
.Button.green:focus {
  box-shadow: 0 0 0 2px var(--green-7);
}

.IconButton {
  font-family: inherit;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--violet-11);
  position: absolute;
  top: 10px;
  right: 10px;
}
.IconButton:hover {
  background-color: var(--violet-4);
}
.IconButton:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.Fieldset {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 15px;
}

.Label {
  font-size: 15px;
  color: var(--violet-11);
  width: 90px;
  text-align: right;
}

.Input {
  width: 100%;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 15px;
  line-height: 1;
  color: var(--violet-11);
  box-shadow: 0 0 0 1px var(--violet-7);
  height: 35px;
}
.Input:focus {
  box-shadow: 0 0 0 2px var(--violet-8);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


.goog-te-gadget-simple {
  display: flex !important;
  background-color: transparent !important;
  font-size: 16px !important;
  border-left: 0px solid #D5D5D5 !important;
  border-top: 0px solid #9B9B9B !important;
  border-bottom: 0px solid #E8E8E8 !important;
  border-right: 0px solid #D5D5D5 !important;
}

.goog-te-gadget {
  font-family: var(--font-inter) !important;
  background-color: transparent !important;
  color: white !important;
}

.goog-te-gadget img {
  display: none;
}

.goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed {
  color: white !important;
  display: none;
}

  /* .goog-te-gadget-simple .VIpgJd-ZVi9od-xl07Ob-lTBxed span {
    display: none;
  } */
  #google_translate_element {
    position: absolute !important;
  
  }
  
  #google_translate_element span {
    position: absolute !important;
    color: transparent;
  } 
  

.gt_selector:not(:first-child) {
  display: none;
}

.relative .gt_selector {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 0.5rem 1rem;
  padding-left: 0;
}

.relative .group .gt_selector {
  --tw-bg-opacity: 1;
  background-color: #212b36;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #fff;
  border: none;
  border-radius: 9999px;
}

.relative .school .gt_selector {
  --tw-bg-opacity: 1;
  background-color: transparent;

  padding-left: 2rem;
  padding-right: 2rem;
  color: white;
}

.relative .dashboard .gt_selector {
  --tw-bg-opacity: 1;
  background-color: transparent;

  padding-left: 2rem;
  padding-right: 2rem;
  color: #212b36;
}


/* Add this to your globals.css or a separate CSS file */
/* .gtranslate_wrapper {
  position: relative;
  z-index: 1000;
} */

/* Style the dropdown */
/* .gtranslate_wrapper select {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #141313;
  font-size: 14px;
}   */

/* Add this to your globals.css or a separate CSS file */
.gtranslate_wrapper {
  color: black; /* Text color */
  background-color: white; /* Background color */
}

/* Style the dropdown */
.gtranslate_wrapper select {
  color: black; /* Text color */
  background-color: white; /* Background color */
  border: 1px solid #ccc; /* Optional: Add a border */
  padding: 8px; /* Optional: Add padding */
  border-radius: 4px; /* Optional: Add rounded corners */
}

/* Style the dropdown options */
.gtranslate_wrapper option {
  color: black; /* Text color */
  background-color: white; /* Background color */
}
  
